@font-face {
  font-family: "Roboto";
  src: url("./Roboto/ROBOTO-REGULAR.TTF");
}
:root {
  --acams-default-color: #42647b;
  --acams-traditional-default-color: #4b5769;
  --acams-greyscale-color: #666666;
  --acams-yellow-color: #ffcf00;
  --acams-green-color: #00d400;
  --acams-orange-color: #ff9900;
  --acams-red-color: #ff0000;
  --acams-blue-color: #1976d2;
  --acams-primary-color: var(--acams-default-color);
  --acams-secondary-color: var(--acams-default-color);
  --acams-secondary-variant-color: #018786;
  --acams-background-color: #f5f5f5;
  --acams-surface-color: #eaeaea;
  --acams-surface-primary-color: var(--acams-primary-color);
  --acams-primary-surface-color: var(--acams-background-color);
  --acams-error-color: #b00020;
  --acams-on-primary-color: #ffffff;
  --acams-on-secondary-color: #42647b;
  --acams-on-background-color: #626262;
  --acams-on-surface-color: #000000;
  --acams-on-error-color: #ffffff;
  --acams-button-border-color: #e0e0e0;
  --acams-table-row-background-color: #ffffff;
  --acams-table-header-foreground-color: #747474;
  --acams-table-body-foreground-color: #505050;
  --acams-filters-background-color: #ffffff;
  --acams-chart-background-color: #ffffff;
  --acams-textarea-background-color: #ffffff;
}
html[data-theme="light"],.theme-light {
  --acams-default-color: #42647b;
  --acams-traditional-default-color: #4b5769;
  --acams-greyscale-color: #666666;
  --acams-yellow-color: #ffcf00;
  --acams-green-color: #00d400;
  --acams-orange-color: #ff9900;
  --acams-red-color: #ff0000;
  --acams-blue-color: #1976d2;
  --acams-primary-color: var(--acams-default-color);
  --acams-secondary-color: var(--acams-default-color);
  --acams-secondary-variant-color: #018786;
  --acams-background-color: #f5f5f5;
  --acams-surface-color: #eaeaea;
  --acams-surface-primary-color: var(--acams-primary-color);
  --acams-primary-surface-color: var(--acams-background-color);
  --acams-error-color: #b00020;
  --acams-on-primary-color: #ffffff;
  --acams-on-secondary-color: #42647b;
  --acams-on-background-color: #626262;
  --acams-on-surface-color: #000000;
  --acams-on-error-color: #ffffff;
  --acams-button-border-color: #e0e0e0;
  --acams-table-row-background-color: #ffffff;
  --acams-table-header-foreground-color: #747474;
  --acams-table-body-foreground-color: #505050;
  --acams-filters-background-color: #ffffff;
  --acams-chart-background-color: #ffffff;
  --acams-textarea-background-color: #ffffff;
}
html[data-theme="dark"],.theme-dark {
  --acams-default-color: #abc5d9;
  --acams-traditional-default-color: #b3bcca;
  --acams-greyscale-color: #d9d9d9;
  --acams-yellow-color: #f9fa90;
  --acams-green-color: #a7ff99;
  --acams-orange-color: #ffdc7e;
  --acams-red-color: #ffa28a;
  --acams-blue-color: #90caf9;
  --acams-primary-color: var(--acams-default-color);
  --acams-secondary-color: #292929;
  --acams-background-color: #292929;
  --acams-surface-color: #2f2f2f;
  --acams-surface-primary-color: #272727;
  --acams-primary-surface-color: var(--acams-primary-color);
  --acams-error-color: #cf6679;
  --acams-on-primary-color: #000000;
  --acams-on-secondary-color: #a8a8a8;
  --acams-on-background-color: #a9a9a9;
  --acams-on-surface-color: #ffffff;
  --acams-on-error-color: #000000;
  --acams-button-border-color: #434343;
  --acams-table-row-background-color: #2f2f2f;
  --acams-table-header-foreground-color: #747474;
  --acams-table-body-foreground-color: #acacac;
  --acams-filters-background-color: #2f2f2f;
  --acams-chart-background-color: #2f2f2f;
  --acams-textarea-background-color: #2f2f2f;
}
/* override grid style  */
/* .MuiGrid-root {
  padding: 0 !important ;
  margin: 0 !important;
} */
.airportModal{
  display: flex;
  flex-direction: column;
}

.airportModal-details {
  width: 100%;
  overflow-y: auto;
  max-height: 190px
}

.airportModal-action {
  margin-top: 10px;
}


.table-container {
  -webkit-backface-visibility: hidden;

}

.Toastify .Toastify__toast-container--top-right{
  top: 3.1em;
}

.grayScale-screen {
  filter: grayscale(1);
}
#appHeader {
  background-color: var(--acams-background-color);
}
.page {
  background-color: var(--acams-background-color);
}
.page-content {
  height: calc(100vh - 51px);
}
.screen-overlay {
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1400;
}
.screen-overlay p {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
  color: white;
  user-select: none;
  transform: translate(-50%,-50%);
}

.screen-overlay body {
  filter: grayscale(1);
}
/* Begin TCMS Navbar */
#globalHeader {
  height: 51px;
}

#appHeader {
  background-color: var(--acams-background-color);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);

}

/* #globalMenuTabs {
  background-color: var(--acams-surface-primary-color);
} */

.App-link {
  color: #bfcfda;
  text-decoration: none;
}

.App-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.navactiveApplink {
  color: #ffffff;
  text-decoration: none;
}

.Dropdown-link {
  color: gray;
  text-decoration: none;
}

.navactiveDropdown {
  color: gray;
  text-decoration: none;
}



/* End TCMS Navbar */

.map-info {
  max-width: 22vw;
  height: fit-content;
  overflow: auto;
  padding-right: 15px;
  padding-left: 20px;
  font-size: 20px;
  color: gray;
  background-color: #f5f5f5;
  border: solid 1px;
  box-shadow: 0px 5px;
}
#body {
  border: solid 1px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: visible;
}

.filter__component-color {
  background-color: var(--acams-filters-background-color);
}


/* login and change password pages */

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  /* border: #00d400 solid; */
  max-width: 50vw;
}
.login__form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 18vw;
  /* border: red solid; */
}

.acams__logo {
  max-width: 300px;
  margin-bottom: 30px;
}

.field__component {
  margin-bottom: 30px;
  width: 100%;
}

.field__form {
  width: 100%;
}
#loginUserIcon {
  margin-right: 7px;
}
#login__button {
  margin-bottom: 20px;
}

#changepassword__button {
  margin-bottom: 20px;
}
#logoutPopupCloseButton,
#logoutPopupValidButton {
  text-transform: none;
}
/* Status dialog */
.statusModal .MuiPaper-root{
 background-color: var(--acams-background-color);
 background-image: none;
}
.Modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Modal-title p {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  flex: 90%;
  text-align: center;
}

.Modal-title .Modal-exitIcon {
  cursor: pointer
}
.status__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.status__name {
  min-width: 100px;
  text-align: right;
}
.status__color {
  display: flex;
  justify-content: center;
}
.status__description {
  border-radius: 5px;
  min-width: 150px;
  height: 27px;
  background-color: var(--acams-surface-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*** Event counter component***/

.eventCounter-container {
  width: 350px;
  height: 28vh;
  color: var(--acams-on-background-color);
}

.componentHeader {
  font-size: 20px;
  text-align: center;
 /*  margin-bottom: 10px; */
}
#eventBoxNormal {
  background-color: var(--acams-green-color);
}
#eventBoxMaintenance {
  background-color: var(--acams-blue-color);
}

#eventBoxWarning {
  background-color: var(--acams-orange-color);
}
#eventBoxInhibited {
  background-color: var(--acams-default-color);
}
#eventBoxAlarm {
  background-color: var(--acams-red-color);
}
#eventBoxUnknown {
  background-color: var(--acams-greyscale-color);
}
.statesNumber {
  font-size: 30px;
  line-height: 0.8;
  padding-top: 10px;
}

.eventStateText {
  font-size: 20px;
}

.eventBox {
  position: relative;
  width: 170px;
  height: 6.9vh;
  text-align: center;
  color: var(--acams-on-primary-color);
  border: solid 1px var(--acams-greyscale-color);
}

.labelHeader {
  background-color: #00d400;
}

.items {
  border: blue;
  width: 100px;
  height: 100px;
}

#commandButtonsHeader {
  margin-bottom: 5px;
}

.blink {
  animation: blink-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* -webkit-animation: blink-animation 2s steps(5, start) infinite; */
  /* -webkit-animation: move 3s linear infinite; */
}

/* @-webkit-keyframes move {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
} */

@keyframes blink-animation {
  /* 0% {
    background-color: var(--acams-on-background-color);} */
  to {
    background-color: var(--acams-table-body-foreground-color);
  }
}

/* @-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
} */

/* .main{
    background-color:  var(--acams-background-color) ;
  } */

/* .MuiButton-containedPrimary {
    color: #fff;
    background-color:  var(--acams-primary-color) ;
  } */

#login_form {
  /* border: solid 1px; */
  /* width: 400px;
    height: 400px; */
  padding: 5px;
  /* background-color: var(--acams-on-background-color); */
  /* margin-top: 100px;
    margin-right: 300px; */
  /* max-width: 3fr;
    align-items: center; */
}
/*** Map Display */
.map {
  height: 50vh;
  padding: 1rem;
  border-radius: 20px;
  /* margin-top: 35px; */
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  background-color: var(--acams-background-color) !important;
}
.theme-dark .leaflet-layer, .theme-dark .leaflet-control-zoom-in, .theme-dark .leaflet-control-zoom-out, .theme-dark .leaflet-control-attribution, .theme-dark .leaflet-control-attribution > :not(.leaflet-attribution-flag) {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-acams-div-icon {
  background: transparent!;
  border: none;
}

.dashboard-bar {
  height: 41vh;
  max-width: 100%;
  padding: 1rem;
  border-radius: 20px;
  /* margin-top: 20px; */
}
.statistics-bar {
  /* height: 20vh; */
  /* max-width: 100%; */
  padding: 1rem;
  border-radius: 20px;
}
.category-bar {
  /* height: 20vh; */
  /* max-width: 100%; */
  padding: 1rem;
  border-radius: 20px;
}

/*** Status Display component***/
/* .css-lslbgv-MuiSvgIcon-root {
  fill: blue;
  height: 2em;
  width: 2em;
  box-sizing: content-box;
} */
#itemStatusDisplayContainer {
  height: 55.5vh;
  color: var(--acams-on-background-color);
}
#statusDisplay {
  display: flex;
  /* border: solid 1px black;  */
  height: 55.5vh;
}
.BreadCrumb {
  /* position: fixed; */
  /* top: 50px;
  left: 20px; */
  /* margin-top: 50px; */
  padding-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  color: var(--acams-on-background-color);
  /* border: solid 1px black; */
}
.BreadCrumb-mainoverview {
  margin-left: 15px;
  cursor: pointer;
  color: var(--acams-on-background-color);
}
#groupSystem {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* width: 1152px; */
  width: 59%;

  /* border: solid 1px red; */
}
#itemDisplay {
  display: flex;
  flex-direction: row;
}
.itemList {
  flex-direction: column;
}
.listHeader {
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 3.7vh;
}
.listHeaderLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  font-style: normal;
}
.listCloseButton {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
.subSystemList .listBody {
  /* border: solid 1px var(--acams-greyscale-color); */
  overflow-x: hidden;
  overflow-y: auto;
  height: 50.5vh;
  scrollbar-gutter: stable;
}
.itemComponent {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 4.16vh;
  width: 375px;
}
.itemComponentLabel {
  width: 150px;
  height: 2.87vh;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  padding-right: 1px;
}
.item__component-detail-label {
  width: 205px;
  height: 2.87vh;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  padding-right: 1px;
}
.itemComponentTextField {
  width: 120px;
  height: 2.87vh;
  background-color: var(--acams-surface-color);
  border-radius: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  padding: 1px;
}
.itemComponentButtonIcon {
  width: 2.87vh;
  height: 2.87vh;
  /* border: solid 1px red; */
  /* background-color: var(--acams-background-color); */
  justify-content: center;
  border-radius: 20px;
  font-size: 2.2vh;
  color: var(--acams-primary-color);
  /* text-align: start; */
  align-items: start;
  border: solid 1px var(--acams-button-border-color);
}
.itemComponentButtonIconOpened {
  background-color: var(--acams-surface-primary-color);
  color: var(--acams-primary-surface-color);

  border: solid 1px var(--acams-primary-color);
}
.indicator {
  border: solid 1px var(--acams-greyscale-color);
}
.itemRectangleIndicator {
  border-radius: 5px;
  width: 45px;
  height: 2.87vh;
}
.itemCircularIndicator {
  border-radius: 20px;
}
.itemStatusDisplayIndicator .itemCircularIndicator {
  width: 2.87vh;
  height: 2.87vh;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#ACAMS_LOGO {
  max-width: 200px;
  margin-top: 20px;
}

.table__row-color {
  background-color: var(--acams-table-row-background-color);
}

/* History Table*/
#historyTable {
  /* height: 61vh; */
  height: 76vh;
  margin-left: 10px;
  padding-left: "20px";
  padding-right: "10px";
}
#historyCommand {
  padding-left: "20px";
  padding-right: "10px";
  padding-top: "200px";
}
.maintenance__grid-container {
  padding-left: 15px;
  padding-right: 15px;
}
/* Maintenance Current Table*/
#maintenance__current-Table {
  height: 47vh;
  width: 100%;

  /* margin: 20px; */
  /* border: 1px solid black; */
}

#maintenance__history-Table {
  height: 53vh;
  width: 100%;

  /* margin: 20px; */
  /* border: 1px solid black; */
}
.maintenanceSearchBox {
  /* margin-top: 50px; */
  margin-left: "50px";
  padding-right: "50px";
}
#maintenanceMoreInfo {
  height: 30vh;
  padding-left: "20px";
  padding-right: "10px";
}
#maintenanceCommand {
  padding-left: "20px";
  padding-right: "10px";
  padding-top: "100px";
}
#currentMaintenanceDetailsContainer {
  display: flex;
  margin: 20px;
}
#infoMessageMaintenance {
  display: inline-flex;
  flex-direction: column;
}
#workOrder {
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 32vh;
  margin-right: 20px;
}
#workOrderTitle {
  text-align: center;
  color: var(--acams-on-background-color);
  font-size: 20px;
  padding-top: 8px;
}

#workorder__textArea-current {
  border: solid 1px var(--acams-button-border-color);
  width: 100%;
  height: 22.9vh;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  /* margin-top: 30px; */
}

#workorder__textArea-history {
  border: solid 1px var(--acams-button-border-color);
  width: 100%;
  height: 18vh;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  /* margin-top: 30px; */
}

.textzone__textarea {
  width: 100%;
  font-size: 20px;
  background-color: var(--acams-textarea-background-color);
}
#technichalNotes {
  width: 50%;
  height: 200px;
  padding-left: "20px";
  padding-right: "10px";
  /* border: 1px solid red; */

  /* margin-left: 10px; */
}
#technichalNotesTable {
  height: 16.3vh;
  margin-bottom: 20px;
}
#technichalNotesTextArea {
  border: solid 1px var(--acams-button-border-color);
  width: 100%;
  height: 6.2vh;
  margin-bottom: 10px;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  /* margin-top: 30px; */
}
#currentmaintenance-commandbuttons {
  display: flex;
  flex-direction: row;
}
.currentmaintenance-button {
  margin-right: 20px;
}
.entries {
  margin-left: 10px;
  color: var(--acams-on-background-color);
  font-size: 18px;
}

.filters__container {
  max-width: 90%;
}

#filterBox {
  display: flex;
  height: 9vh;
  margin-top: 5px;
  margin-left: 7px;
}

/* Statistics Filter */
#statisticsFilter #filterBox #demo-simple-select {
  background-color: white;
}
#statisticsFilter #filterBox fieldset {
  background-color: white;
}

.theme-dark #statisticsFilter #filterBox #demo-simple-select {
  background-color: var(--acams-surface-color);
}
.theme-dark #statisticsFilter #filterBox fieldset {
  background-color: var(--acams-surface-color);
}

/* Statistics Bar Chart*/
.statistics-bar {
  height: 20vh;
  /* max-width: 100%; */
  padding: 1rem;
  border-radius: 20px;
}
.category-bar {
  /* height: 20vh; */
  /* max-width: 100%; */
  padding: 1rem;
  border-radius: 20px;
}
#statisticsChart {
  background-color: var(--acams-chart-background-color);
  height: 380px;
}
/* #statisticsBarTooLarge {
  text-align: center;
}

.theme-dark #statisticsBar {
  background-color: var(--acams-surface-color);
} */

/* Statistics Table*/
#statistics-Table {
  height: 31vh;
  width: 100%;

  /* margin: 20px; */
  /* border: 1px solid black; */
}
#statistics-Table-Full-Page {
  height: 67vh;
  width: 100%;
}
/* #statisticsTable {
  height: 500px;
  margin: 0 2% 0 2%;
  padding-left: "20px";
  padding-right: "10px";
}
.hiddenTableTitle {
  display: none;
}
#statisticsTable .tcmsTable .MuiTableContainer-root {
  background-color: white;
}
.theme-dark #statisticsTable .tcmsTable .MuiTableContainer-root {
  background-color: var(--acams-surface-color);
} */

#statisticsCommand {
  background-color: white;

  padding-left: "20px";
  padding-right: "10px";
  padding-top: "200px";
}

.theme-dark #statisticsCommand {
  background-color: var(--acams-surface-color);
}
/* TCMS TABLE*/
.tcmsTable {
  height: 100%;
  /* margin: 15px; */
}
.no-table-select {
  user-select: none;
}
.table__header-text {
  color: var(--acams-table-header-foreground-color);
  font-size: 12px;
}
.table__body-text {
  color: var(--acams-table-body-foreground-color);
  font-size: 12.6px;
}
/* Current Faults*/
#currentFaults {
  /* height: 28vh; */
  height: 24vh;
  width: 1530px;
}
.tableTitle {
  text-align: center;
  color: var(--acams-on-background-color);
  font-size: 20px;
}
.tableIndicator .itemCircularIndicator {
  width: 15px;
  height: 15px;
}

.line {
  height: 1px;
  color: var(--acams-on-surface-color);
  width: 99vw;
}

.popup__container-color {
  background-color: red;
}

#popup__workorder {
  height: 50px;
}

.MuiDivider-root
  .MuiDivider-fullWidth
  .MuiDivider-vertical
  .MuiDivider-flexItem
  .css-1kpnj7b-MuiDivider-root {
  grid-area: Divider;
}
#DIVIDER_1 {
  grid-area: Divider1;
}
#DIVIDER_2 {
  grid-area: Divider2;
}
#DIVIDER_3 {
  grid-area: Divider3;
}

#SUB_SYSTEM_PANEL {
  grid-area: SubSystemPanel;
  display: grid;
  direction: column;
  grid-template-columns: 9fr 1fr;

  /* border-right: red solid 2px ; */
}
#ITEMS_PANEL {
  grid-area: ItemPanel;
  display: grid;
  direction: column;
  grid-template-columns: 9fr 1fr;
  /* border-right: red solid 2px ; */
}
.divider {
  grid-area: Divider;
  margin: 1px;
}

#ITEM_DETAILS_PANEL {
  grid-area: ItemDetailsPanel;
  display: grid;
  direction: column;
  grid-template-columns: 9fr 1fr;
}
.item {
  display: grid;
  /* justify-content: flex-end; */
  flex-direction: row;
  align-items: center;
  align-content: flex-end;
  /* grid-template-columns: 3fr 0.5fr 1fr 1.2fr;  */
  grid-template-columns: 150px 50px 100px 24px;

  grid-column-gap: 10px;
  margin-right: 0px;
  /* 
  grid-template-columns: 2fr 1fr 1fr 1fr; 
  grid-column-gap: 2px; */
}

.UNINSTALLED {
  background-color: var(--acams-blue-color);
}

.INHIBITED {
  background-color: var(--acams-primary-color);
}

.UNKNOWN {
  background-color: var(--acams-greyscale-color);
}

.MAINTENANCE {
  background-color: var(--acams-blue-color) ;
}

.MAJOR {
  background-color: var(--acams-red-color) ;
}

.MINOR {
  background-color: var(--acams-orange-color) ;
}
.NORMAL {
  background-color: var(--acams-green-color) ;
}
.LOW {
  background-color: var(--acams-yellow-color);
}

#header__time {
  color: var(--acams-greyscale-color);
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
}
#header__userName {
  color: var(--acams-greyscale-color);
  font-size: 16px;
}

.user-fade-button {
  position: relative;
}

.user-notifs-number {
  min-width: 16px;
  min-height:16px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 1px;
  font-size: 9px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  background-color: var(--acams-red-color);
}
/* #USER_INPUT{
    margin-left:250px;
    position: absolute;
  } */

/* .App{
    background: var( --acams-background-color);
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .login-form{
    background: var( --acams-surface-color);
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 360px;
    flex-wrap: wrap;
    letter-spacing: 2px;
  }
  #ACAMS_LOGO{
    max-width: 320px;
  }
  input{
    
  }
  input.filled{

  }
  input.filled:focus{
    
  }
  label{
    color: var(--acams-primary-color);
    flex: 1 0 120px;
    max-width: 220px;
  }
  button {
    max-width: 360px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.09em;
    line-height: 16px;
    text-align: left;
  }
  button.text{

  }
  button.outlined{
    border: 1px solid rgba(255, 255, 255,0.12);
    opacity: 100%;
    background: var(--acams-surface-color);
    border-radius: 4px;
    border-color: rgb(67, 67, 67);
  }
  button.contained{

  }
  button.outlined:enabled{
    color: var(--acams-primary-color);
  }
  button.outlined:disabled{
    color: var(--acams-primary-color);

  }
  button.outlined:hover{
    color: var(--acams-primary-color);

  }
  button.outlined:focus{
    color: var(--acams-primary-color);
  }
  button.outlined:active{
    color: var(--acams-primary-color);  } */

/* html{
    height: 100%;
    background-color: var(--acams-blue-color);
  }
  
  .App{
    text-transform: uppercase;
    background-color: var(--acams-blue-color);
    letter-spacing: 2px;
  }
  .form-label{
    font-size: 0.9em;
    font-weight: bold;
    color: white;
  }
  
  .form-control
  {
    background-color: var(--acams-field-enanled-color);
  }
  
  
  .form-control:focus
  {
    border-color: rgba(216, 218, 224, 0.712) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(216, 218, 224, 0.6)!important;
    outline: 0 none!important;
    background-color: var(--acams-field-enanled-color);
  }
  .header-container {
    margin-top: 5px ;
    align-items:  flex-end;
    background-color: var(--acams-grey-color);  
  }
  
  .form-check{
    padding-right: 20px;
  }
  
  .btn {
    background-color: var(--acams-grey-color);
    color: black;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .btn:active, .btn:focus{
    background-color:var(--acams-yellow-color)!important;
    color: black;
    border-color: rgba(227, 230, 69, 0.712)!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(227, 230, 69, 0.6)!important;
    outline: 0 none!important;
  }
  .btn:disabled, .btn:hover {
    background-color: var(--acams-grey-dark-color);
    color: black;
  }
  .errorMessage{
    color: var(--acams-error-color);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
    padding: 30px 0;
    text-align: center;
    float: left;
    font-weight: bold;

    }
    #broadcastTitle {
      color:blue
    }
  h1 {
    text-align: center;
    color:white
  }
  @media all and (min-width: 480px) {
    .login-form {
      padding: 60px 0;
    }
  
    .login-form form {
      margin: 0 auto;
      max-width: 320px;
    }
  } 
  #CHANGE_PASSWORD_LABEL {
    color: black;
  }
  #ACAMS_LOGO{
    display: block;
    margin: 0 auto;
    max-width: 320px;
  }
  .buttons{
    display: flex;
    text-align : center;
    padding: 10px 30px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 360px;



    }
  @media all and (min-width: 480px) {
    .changePassword-form {
      padding: 60px 0;
    }
  
    .changePassword-form form {
      margin: 0 auto;
      max-width: 320px;
    }
  }  */

.NEW {
  background-color: var(--acams-greyscale-color);
}

.INPROGRESS {
  background-color: var(--acams-green-color);
}

.CLOSED {
  background-color: var(--acams-on-surface-color);
}

.MODIFIED {
  background-color: var(--acams-greyscale-color);
}

.DELETED {
  background-color: var(--acams-on-surface-color);
}

.DELAYED {
  background-color: var(--acams-red-color);
}

.REJECTED {
  background-color: var(--acams-orange-color);
}

#svg__loader-div {
  height: 76vh;
  width: 99vw;
  /* border: 1px solid red */
}

#center__children-div {
  height: 93vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: var(--acams-secondary-variant-color) solid; */
}
