@font-face {
  font-family: "Roboto" !important;
  src: url("./Roboto/ROBOTO-REGULAR.TTF") !important;
}

.formContainer {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: white;
  box-shadow: "0px 4px 6px rgba(0, 0, 0, 0.1)" !important
    /* Default background color */
}

.darkMode .formContainer {
  background: black;
  /* Dark mode background color */
}

.formField {
  margin-bottom: 24px;
}

.pagination {
  position: "fixed";
  bottom: "7.5%";
  left: 0;
  right: 0;
  display: "flex";
  justify-content: "center";
  padding: "10px 0";
}

.dragButton {
  cursor: grab;
}

/* .newFieldButton{
  border:   1px solid #e0e0e0 !important
} */

/* :root {
  --acams-default-color: #42647b;
  --acams-traditional-default-color: #4b5769;
  --acams-greyscale-color: #666666;
  --acams-yellow-color: #ffcf00;
  --acams-green-color: #00d400;
  --acams-orange-color: #ff9900;
  --acams-red-color: #ff0000;
  --acams-blue-color: #1976d2;
  --acams-primary-color: var(--acams-default-color);
  --acams-secondary-color: var(--acams-default-color);
  --acams-secondary-variant-color: #018786;
  --acams-background-color: #f5f5f5;
  --acams-surface-color: #eaeaea;
  --acams-surface-primary-color: var(--acams-primary-color);
  --acams-primary-surface-color: var(--acams-background-color);
  --acams-error-color: #b00020;
  --acams-on-primary-color: #ffffff;
  --acams-on-secondary-color: #42647b;
  --acams-on-background-color: #626262;
  --acams-on-surface-color: #000000;
  --acams-on-error-color: #ffffff;
  --acams-button-border-color: #e0e0e0;
  --acams-table-row-background-color: #ffffff;
  --acams-table-header-foreground-color: #747474;
  --acams-table-body-foreground-color: #505050;
  --acams-filters-background-color: #ffffff;
  --acams-chart-background-color: #ffffff;
  --acams-textarea-background-color: #ffffff;
}

html[data-theme="light"],
.theme-light {
  --acams-default-color: #42647b;
  --acams-traditional-default-color: #4b5769;
  --acams-greyscale-color: #666666;
  --acams-yellow-color: #ffcf00;
  --acams-green-color: #00d400;
  --acams-orange-color: #ff9900;
  --acams-red-color: #ff0000;
  --acams-blue-color: #1976d2;
  --acams-primary-color: var(--acams-default-color);
  --acams-secondary-color: var(--acams-default-color);
  --acams-secondary-variant-color: #018786;
  --acams-background-color: #f5f5f5;
  --acams-surface-color: #eaeaea;
  --acams-surface-primary-color: var(--acams-primary-color);
  --acams-primary-surface-color: var(--acams-background-color);
  --acams-error-color: #b00020;
  --acams-on-primary-color: #ffffff;
  --acams-on-secondary-color: #42647b;
  --acams-on-background-color: #626262;
  --acams-on-surface-color: #000000;
  --acams-on-error-color: #ffffff;
  --acams-button-border-color: #e0e0e0;
  --acams-table-row-background-color: #ffffff;
  --acams-table-header-foreground-color: #747474;
  --acams-table-body-foreground-color: #505050;
  --acams-filters-background-color: #ffffff;
  --acams-chart-background-color: #ffffff;
  --acams-textarea-background-color: #ffffff;
} */

/* html[data-theme="dark"],
.theme-dark {
  --acams-default-color: #abc5d9;
  --acams-traditional-default-color: #b3bcca;
  --acams-greyscale-color: #d9d9d9;
  --acams-yellow-color: #f9fa90;
  --acams-green-color: #a7ff99;
  --acams-orange-color: #ffdc7e;
  --acams-red-color: #ffa28a;
  --acams-blue-color: #90caf9;
  --acams-primary-color: var(--acams-default-color);
  --acams-secondary-color: #292929;
  --acams-background-color: #292929;
  --acams-surface-color: #2f2f2f;
  --acams-surface-primary-color: #272727;
  --acams-primary-surface-color: var(--acams-primary-color);
  --acams-error-color: #cf6679;
  --acams-on-primary-color: #000000;
  --acams-on-secondary-color: #a8a8a8;
  --acams-on-background-color: #a9a9a9;
  --acams-on-surface-color: #ffffff;
  --acams-on-error-color: #000000;
  --acams-button-border-color: #434343;
  --acams-table-row-background-color: #2f2f2f;
  --acams-table-header-foreground-color: #747474;
  --acams-table-body-foreground-color: #acacac;
  --acams-filters-background-color: #2f2f2f;
  --acams-chart-background-color: #2f2f2f;
  --acams-textarea-background-color: #2f2f2f;
} */

/* .submitButton {
  background-color: var(--acams-default-color);
  color: #ffffff !important;
  border-radius: 7px;
  border-color: #ffffff;
  width: 100px;
  height: 40px;
  margin-top: -20px;
  right: -50px;
  align-self: flex-end;


} */

.css-1ezm81f-MuiDataGrid-root {
  color: transparent;
}


.clickButton {
  margin-left: 150px;
  align-self: flex-end;
  color: #FFFFFF;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: #42647b;
}

.signButton {
  margin-left: 150px;
  align-self: flex-end;
  background-color: #FFB547;
  color: #FFFFFF;
  border-radius: 7px;
  padding: 10px 20px;
}

#header__time {
  color: var(--acams-greyscale-color);
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
}

.plusIcon {
  display: flex;
  justify-content: center;

}

.bottomActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}

.app-bar {
  transition: max-height 0.5s, max-width 0.5s;
  max-height: 64px;
  /* Hauteur maximale de la barre de navigation */
  max-width: 100%;
  /* Largeur maximale de la barre de navigation */
  overflow: hidden;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  /* Hauteur maximale de la fenêtre visible */
  max-width: 100vw;
  /* Largeur maximale de la fenêtre visible */
  /* overflow: auto; */
}

/* styles.css */
.grayRadio {
  color: gray;
  margin-right: 8px;
  /* Adjust spacing as needed */
}

.addOptionTextField {
  display: flex;
  align-items: center;
}

/* .customHeader.MuiDataGrid-cell {
  color: white;
} */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* Ensure it appears above other content */
  color: white;
  font-size: 24px;
}

/* Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-image {
  width: 300px;
  /* Adjust according to your image size */
  height: 200px;
  /* Adjust according to your image size */
}

input {
  margin: 5px;
  padding: 10px;
  width: 200px;
}

/* button {
  margin: 10px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} */
#globalHeader {
  height: 51px;
}

#appHeader {
  /* background-color: var(--acams-background-color); */
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);

}

/* #globalMenuTabs {
  background-color: var(--acams-surface-primary-color);
} */

.App-link {
  color: #bfcfda;
  text-decoration: none;
}


/* .MuiPickersLayout-contentWrapper{
  background:#505050 !important;
}
.css-2xdetu-MuiButtonBase-root-MuiPickersDay-root {

  color: white !important;
  margin: 0 2px;
}
 .MuiDayCalendar-weekContainer {
  background: #505050 !important;
} */


.navactiveApplink {
  color: #ffffff;
  text-decoration: none;
}

.menuTabsLabel {
  font-size: 14px;
}

:root {
  --background-light: #f0f0f0;
  --background-globalMenuTabs: #42647b;
  --background-actionButton-ligth: #42647b;
  --background-actionButton-dark: #f0f0f0;
  --background-globalMenuTabs-dark: #505050;
  --background-dark: #505050;
  --text-light: #000000;
  --text-Dropdown-ligth: gray;
  --text-Dropdown-dark: #ffffff;
  --text-dark: #ffffff;
  --picker-day-color-light: #000000;
  --picker-day-color-dark: #ffffff;
  --status-button-border: 2px solid #551d10;
  --status-button-open-light: #d9534f;
  --status-button-open-dark: #551d10;
  --status-button-sign-dark: #00800073;
  --status-button-sign-light: #b3f6a9;
  --delete-button-background-light: #b00020;
  --delete-button-background-dark: #b00020;
  --open-button-border-light: 2px solid rgb(215, 0, 0);
  --open-button-border-dark: 2px solid #551d10;
  --sign-button-border-dark: 2px solid #00800073;
  --sign-button-border-light: 2px solid #139c13;
  --sign-history-button-border-dark:2px solid #42647b;
  --sign-history-button-border-light:2px solid #2782c8;
  --open-button-light: rgb(215, 0, 0);
  --open-button-dark: #551d10;
  --sign-button-dark: #00800073;
  --sign-button-light:  #139c13;
  --open-history-button-dark: #42647b;
  --open-history-button-light:#2782c8;

}

.light-mode {
  --background: var(--background-light);
  --text: var(--text-light);
  --picker-day-color: var(--picker-day-color-light);
  --status-button-open: var(--status-button-open-light);
  --status-button-sign: var(--status-button-sign-light);
  --status-text: var(--text-light);
  --background-menu: var(--background-globalMenuTabs);
  --background-paper: var(--background-light);
  --text-Dropdown: var(--text-Dropdown-ligth);
  --background-actionButton: var(--background-actionButton-ligth);
  --delete-button-background: var(--delete-button-background-light);
  --sign-button-border: var(--sign-button-border-light);
  --sign-history-button-border: var(--sign-history-button-border-light);

  --open-button-border: var(--open-button-border-light);
  
  --sign-button: var(--sign-button-light);
  --open-button: var(--open-button-light);
  --open-history-button: var(--open-history-button-light);

}

.dark-mode {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --picker-day-color: var(--picker-day-color-dark);
  --status-button-open: var(--status-button-open-dark);
  --status-button-sign: var(--status-button-sign-dark);
  --status-text: var(--background-light);
  --background-menu: var(--background-globalMenuTabs-dark);
  --background-paper: var(--background-dark);
  --text-Dropdown: var(var(--text-Dropdown-dark));
  --background-actionButton: var(--background-actionButton-dark);
  --delete-button-background: var(--delete-button-background-dark);
  --sign-button: var(--sign-button-dark);
  --open-button: var(--open-button-dark);
  --open-history-button: var(--open-history-button-dark);
  --sign-button-border: var(--sign-button-border-dark);
  --sign-history-button-border: var(--sign-history-button-border-dark);
  --open-button-border: var(--open-button-border-dark);
}

/* DatePicker*/
.MuiPickersLayout-contentWrapper {
  background: var(--background) !important;
}

.MuiPickersCalendarHeader-label {
  color: var(--picker-day-color) !important;

}

.css-2xdetu-MuiButtonBase-root-MuiPickersDay-root {
  color: var(--picker-day-color) !important;
  margin: 0 2px;
}

.MuiDayCalendar-weekContainer {
  background: var(--background) !important;
}



/* MenuTabs*/

#globalMenuTabs {
  background-color: var(--background-menu) !important;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper {
  /* background-color: var(--background-paper) !important; */
}


.menuTabsLabel {
  font-size: 14px;
}

menuItem {
  color:
    var(--text) !important;
}

.Dropdown-link {
  text-decoration: none;
}

.MuiButtonBase-root-MuiMenuItem-root.disabled-button {
  background-color: transparent !important;
}

.MuiButtonBase-root {
  color: var(--background-actionButton) !important;
}

.submitButton {
  color: white !important;
  background-color: var(--acams-default-color);
  color: #ffffff !important;
  border-radius: 7px;
  border-color: #ffffff;
  width: 100px;
  height: 40px;
  margin-top: -20px;
  /* right: -50px; */
  align-self: flex-end;
}

.MuiListItemIcon-root {
  color: var(--background-actionButton) !important;

}

.customAlert {
  position: fixed;
  bottom: 0;
  left: 15%;
  transform: translateX(-50%);
  color: #139c13;
  z-index: 1000;
}

.customAlert .MuiAlertTitle-root {
  color: green !important;
}

.action-MuiSvgIcon-root {
  color: var(--background-actionButton) !important;
}



.disabled-button {
  color: var(--text-Dropdown-ligth) !important;
}

.Mui-selected {
  background-color: transparent !important;


}

/* .MuiIconButton-root {
  color: var( --background-actionButton)!important;
} */



/* SWITCH BUTTON */
.switch {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s, justify-content 0.3s;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background-color: #009688;
}

.handle {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}


.deleteButton {
  background-color: var(--delete-button-background) !important;
  color: #ffffff !important;
  border-radius: 7px;
  border-color: #ffffff;
  height: 40px;
}
.open-button-icon {
  color: var(--open-button) !important;
}
.open-history-button-icon {
  color: var(--open-history-button) !important;
}

.sign-button-icon {
  color: var(--sign-button) !important;
}
.deleteButton:hover {
  background-color: var(--delete-button-background) !important;
}


.open-button {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  /* background-color: var(--status-button-open) !important; */
  /* color: white; */
  border: var(--open-button-border) !important;

}

.sign-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  /* background-color: var(--status-button-sign) !important; */
  /* color: white; */
  border: var(--sign-button-border) !important;

}

.sign-history-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  /* background-color: var(--status-button-sign) !important; */
  /* color: white; */
  border: var(--sign-history-button-border) !important;

}
/*notfication*/
.customListItem {
  border-left: 4px solid #1877f2;
  /* Couleur de la bulle bleue */
  padding-left: 12px;
  /* Espacement entre la bulle et le texte */
}

.customListItemText {
  font-weight: bold;
  /* Texte en gras */
}




